<a href="https://colab.research.google.com/github/Prasetya36/Machine-Learning/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
path="/content/drive/My Drive/Dataset/MPL_ID_S10.csv"
dataset=pd.read_csv(path)
dataset.describe()

,Hero_picked,T_wins,T_lose,Bs_picked,Bs_won,Bs_lost,Rs_picked,Rs_won,Rs_lost,Hero_banned,Pick&Ban
count,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000
mean,22.051282,11.025641,11.025641,11.025641,5.192308,5.833333,11.025641,5.833333,5.192308,22.038462,44.089744
std,25.027724,13.165258,12.350902,12.952435,6.662665,6.577049,12.751343,6.994277,6.193960,31.211654,49.297977
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,3.000000,1.000000,1.250000,2.000000,1.000000,1.000000,1.000000,0.250000,1.000000,1.250000,5.500000
50%,13.500000,6.500000,7.500000,6.000000,2.000000,4.000000,7.000000,3.500000,3.000000,9.500000,26.500000
75%,28.000000,16.000000,16.750000,15.750000,7.000000,8.000000,17.500000,8.750000,7.000000,31.250000,66.000000
max,124.000000,61.000000,63.000000,59.000000,29.000000,31.000000,65.000000,33.000000,32.000000,131.000000,171.000000